<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://maven.apache.org/POM/4.0.0"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <servlet>
   <servlet-name>MainServlet</servlet-name>
   <servlet-class>VideoServlet</servlet-class>
 </servlet>

 <servlet>
   <servlet-name>Identifier</servlet-name>
   <servlet-class>VideoIdentifier</servlet-class>
</servlet>

<servlet>
   <servlet-name>Compare</servlet-name>
   <servlet-class>VideoCompare</servlet-class>
</servlet>

<context-param>
   <param-name>OS</param-name>
   <param-value>Ubuntu_20.04</param-value>
</context-param>

</web-app>